.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: calc(var(--nav-width) + var(--gap) * 2);
    margin-inline-start: auto;
    margin-inline-end: auto;
    line-height: var(--header-height);
}

.nav a {
    display: block;
}

.logo,
#menu {
    display: flex;
    margin: auto var(--gap);
}

.logo {
    flex-wrap: inherit;
}

.logo a {
    font-size: 24px;
    font-weight: 700;
}

.logo a img {
    display: inline;
    vertical-align: middle;
    pointer-events: none;
    transform: translate(0, -10%);
    border-radius: 6px;
    margin-inline-end: 8px;
}

#theme-toggle svg {
    height: 18px;
}

button#theme-toggle {
    font-size: 26px;
    margin: auto 4px;
}

body.dark #moon {
    vertical-align: middle;
    display: none;
}

body:not(.dark) #sun {
    display: none;
}

#menu {
    list-style: none;
    word-break: keep-all;
    white-space: nowrap;
}

#menu > li {
    display: inline-block;
    position: relative;
    line-height: 2rem;
}

#menu > li > a {
    padding: 0 1rem;
}

#menu > li:hover > a {
    text-decoration: underline;
    -webkit-text-decoration: underline;
    text-underline-offset: 4px;
}

#submenu {
    display: none;
    position: absolute;
    top:100%;
    z-index: 1;
}

#submenu > li {
    display: block;
    position: relative;
    padding: 0 var(--gap);
    line-height: 2rem;
}

#menu > li:hover > #submenu {
    display: block;
}

#submenu > li:hover > a {
    padding-left: 1rem; /* Add 1rem of padding to the left of the text */
}

.lang-switch li,
.lang-switch ul,
.logo-switches {
    display: inline-flex;
    margin: auto 4px;
}

.lang-switch {
    display: flex;
    flex-wrap: inherit;
}

.lang-switch a {
    margin: auto 3px;
    font-size: 16px;
    font-weight: 500;
}

.logo-switches {
    flex-wrap: inherit;
}
